@import url('http://fonts.googleapis.com/css?family=Lato:400,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,100');

html, body {
margin:0;
padding-top:0;
padding-bottom: 10px;
font-family: Lato;
}

/*BANNER - DESKTOP SCREENS */

@media(max-width: 1600px){
	#header {
		background-image: url("../img/startjourneysanstext.jpg");
		background-size: 100%;
	  background-repeat: no-repeat;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}

	#banner-text {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 6%;
		width: 550px;
	}

	#banner-text h1 {
		color: white;
		font-family: Lato;
		margin: 0;
		font-weight: normal;
		font-size: 35px;
	}

	#banner-text p {
		color: white;
		font-family: Lato;
		margin: 0;
		font-size: 25px;
	}
}
/*----------- MOBILE BANNER -------------------*/

@media(max-width: 970px) {
  #header {
		background: url("../img/startjourneysanstext.jpg");
		background-position: 0 0 0 0;
		height: 400px;
		margin-bottom: 25px;
		border: 0;
	}

	#banner-text {
		text-align: center;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 125px;
	}

	#banner-text h1 {
		margin-left: 6%;
		color: white;
		font-family: Lato;
		font-weight: normal;
		font-size: 35px;
		max-width: 970px;
	}	

	#banner-text p {
		color: white;
		font-family: Lato;
		margin: 0;
		font-weight: thin;
		font-size: 15px;
		max-width: 970px;
	}

}

/*------------ PANEL -----------------*/

.panel-title {
	text-align: center;
}
#panel-text {
	font-family: Lato;
	color: #FF0000;
}



div.img-block {
	width: 100%;
	text-align: center;
}

img.panel-img {
	height: 300px;
	display: block;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.img-block p {
	font-family: Open-Sans;
}

.img-caption {
	margin: 0 auto;
	max-width: 300px;
	text-align: left;
}

.img-caption p {
	margin-left: 15px;
	margin-right: 25px;
}

p#lorem {
	padding: 10px;
	margin-left: 45px;
	margin-right: 25px;
}

